<template>
    <div id="login">
        <h1>Login</h1>
        <hint>username:test</hint><br/>
        <hint>password:test123</hint><br/>
        <br/>
        <input type="text" name="username" v-model="input.username" placeholder="enter username" />
        <input type="password" name="password" v-model="input.password" placeholder="enter password" />
        <button type="button" v-on:click="login()">Login</button>
    </div>
</template>

<script>
    export default {
       
        data() {
            return {
                input: {
                    username: "",
                    password: ""
                }
            }
        },
        methods: {
            login() {
                if(this.input.username != "" && this.input.password != "") {
                    if(this.input.username == this.$parent.account.username && this.input.password == this.$parent.account.password) {
                        this.$emit("success", true);
                        this.$router.replace({ name: "Secure" });
                    } else {
                        console.log("The username and / or password is incorrect");
                    }
                } else {
                    console.log("A username and password required");
                }
            }
        }
    }
</script>

<style scoped>
    #login {
        width: 500px;
        border: 1px solid #CCCCCC;
        background-color: #FFFFFF;
        margin: auto;
        margin-top: 200px;
        padding: 20px;
    }
</style>
