<template>
        <div id="App">

            <table class="table table-bordered">
                 <tr>
                    <th>Id</th>
                    <th>name</th>
                    <th>emailid</th>
                </tr>
                  <tr v-for="(item, i) in fullData" v-bind:key="i">
                    <td>{{item.Id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.emailid}}</td>
                  </tr>
            </table>
            <br />
            <div class="register">
                <input class="form-control" type="text" placeholder="Name" v-model="name">
                <br>
                <input class="form-control" type="email" placeholder="Email" v-model="emailid">
                <br>
                <input class="form-control" type="password" placeholder="password" v-model="password">
            </div>
            <button type="button" class="btn" v-on:click="saveuser()">submit </button>
        </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      template: 'Registration Form',
      name:"",
      password:"",
      emailid:"",
      fullData: [],
      Id: 1
    }
  },
  methods: {

             saveuser: function () {
              this.fullData.push({
                  Id: this.Id++,
                  name: this.name,
                   emailid: this.emailid,
                   password: this.password
              })
              console.log(this.fullData);
          
            }
        }

}

</script>
