<template>

    
    <div id="secure">
        <h1>profile Area</h1>
        <p>
            Welcome User
        </p>
    </div>
</template>

<script>
    export default {
        name: 'secure',
        data() {
            return {};
        }
    }
</script>

<style scoped>
    #secure {
        background-color: #FFFFFF;
        border: 1px solid #CCCCCC;
        padding: 20px;
        margin-top: 10px;
    }
</style>