<template>
  <div id="app">
     <div id="nav8">
      <router-link to="/">Register</router-link> |
      <router-link to="/login">Login</router-link>
    </div>
        <div id="nav">
            <router-link v-if="success" to="/login" v-on:click.native="logout()" replace>Logout</router-link>
        </div>
        <router-view @success="setsuccess" />
  </div>
</template>
<script>
    export default {
        name: 'app',
        data() {
            return {
                success: false,
                account: {
                    username: "test",
                    password: "test123"
                }
            }
        },
        mounted() {
            if(!this.success) {
                this.$router.replace({ name: "Login" });
            }
        },
        methods: {
            setsuccess(status) {
                this.success = status;
            },
            logout() {
                this.success = false;
            }
        }
    }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 624px;
  margin: 0 auto;
  background: #f1f1f1;
  height: 500px;
}

#nav {
  padding: 29px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
